In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import datetime as dt

import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.simplefilter(action="ignore", category=FutureWarning)

In [129]:
data_file_path = "C:/Users/Bas/OneDrive/MSc. Artificial Intelligence VU/MSc. AI Year 1/Data Mining Techniques/Assignment 2/data/"
train = pd.read_csv(data_file_path + "training_set_VU_DM.csv", sep=',')

In [135]:
train.info() #54 cols

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4958347 entries, 0 to 4958346
Data columns (total 54 columns):
 #   Column                       Dtype
---  ------                       -----
 0   srch_id                      int64
 1   date_time                    object
 2   site_id                      int64
 3   visitor_location_country_id  int64
 4   visitor_hist_starrating      float64
 5   visitor_hist_adr_usd         float64
 6   prop_country_id              int64
 7   prop_id                      int64
 8   prop_starrating              int64
 9   prop_review_score            float64
 10  prop_brand_bool              int64
 11  prop_location_score1         float64
 12  prop_location_score2         float64
 13  prop_log_historical_price    float64
 14  position                     int64
 15  price_usd                    float64
 16  promotion_flag               int64
 17  srch_destination_id          int64
 18  srch_length_of_stay          int64
 19  srch_booking_window          int64
 20  srch_adults_count            int64
 21  srch_children_count          int64
 22  srch_room_count              int64
 23  srch_saturday_night_bool     int64
 24  srch_query_affinity_score    float64
 25  orig_destination_distance    float64
 26  random_bool                  int64
 27  comp1_rate                   float64
 28  comp1_inv                    float64
 29  comp1_rate_percent_diff      float64
 30  comp2_rate                   float64
 31  comp2_inv                    float64
 32  comp2_rate_percent_diff      float64
 33  comp3_rate                   float64
 34  comp3_inv                    float64
 35  comp3_rate_percent_diff      float64
 36  comp4_rate                   float64
 37  comp4_inv                    float64
 38  comp4_rate_percent_diff      float64
 39  comp5_rate                   float64
 40  comp5_inv                    float64
 41  comp5_rate_percent_diff      float64
 42  comp6_rate                   float64
 43  comp6_inv                    float64
 44  comp6_rate_percent_diff      float64
 45  comp7_rate                   float64
 46  comp7_inv                    float64
 47  comp7_rate_percent_diff      float64
 48  comp8_rate                   float64
 49  comp8_inv                    float64
 50  comp8_rate_percent_diff      float64
 51  click_bool                   int64
 52  gross_bookings_usd           float64
 53  booking_bool                 int64
dtypes: float64(34), int64(19), object(1)
memory usage: 2.0+ GB

In [142]:
# for comp in [1,2,3,4,5,6,7,8]:
#     print("comp{0}_inv".format(comp))
    
#     print(train["comp{0}_rate".format(comp)].isnull().sum())
#     print(train["comp{0}_rate".format(comp)].value_counts())
    
#     print(train["comp{0}_inv".format(comp)].isnull().sum())
#     print(train["comp{0}_inv".format(comp)].value_counts())

## Smaller subset of 500 searches for computational speed:

In [171]:
train_subset = train[train['srch_id'] < 864]
print(len(train_subset['srch_id'].unique()))
train_subset.head()

500

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

## Drop cols with too much missing data

In [172]:
cols_drop_na = ['position','click_bool','gross_bookings_usd']
cols_drop_bs = ['date_time','prop_location_score2','prop_id']
cols_drop_nulls = ['visitor_hist_starrating','visitor_hist_adr_usd','srch_query_affinity_score']
cols_drop = cols_drop_na + cols_drop_nulls + cols_drop_bs
train_subset.drop(columns=cols_drop, inplace=True)
train_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12098 entries, 0 to 12097
Data columns (total 45 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   srch_id                      12098 non-null  int64
 1   site_id                      12098 non-null  int64
 2   visitor_location_country_id  12098 non-null  int64
 3   prop_country_id              12098 non-null  int64
 4   prop_starrating              12098 non-null  int64
 5   prop_review_score            12081 non-null  float64
 6   prop_brand_bool              12098 non-null  int64
 7   prop_location_score1         12098 non-null  float64
 8   prop_log_historical_price    12098 non-null  float64
 9   price_usd                    12098 non-null  float64
 10  promotion_flag               12098 non-null  int64
 11  srch_destination_id          12098 non-null  int64
 12  srch_length_of_stay          12098 non-null  int64
 13  srch_booking_window          12098 non-null  int64
 14  srch_adults_count            12098 non-null  int64
 15  srch_children_count          12098 non-null  int64
 16  srch_room_count              12098 non-null  int64
 17  srch_saturday_night_bool     12098 non-null  int64
 18  orig_destination_distance    8140 non-null   float64
 19  random_bool                  12098 non-null  int64
 20  comp1_rate                   285 non-null    float64
 21  comp1_inv                    317 non-null    float64
 22  comp1_rate_percent_diff      232 non-null    float64
 23  comp2_rate                   5147 non-null   float64
 24  comp2_inv                    5341 non-null   float64
 25  comp2_rate_percent_diff      1416 non-null   float64
 26  comp3_rate                   3899 non-null   float64
 27  comp3_inv                    4153 non-null   float64
 28  comp3_rate_percent_diff      1168 non-null   float64
 29  comp4_rate                   855 non-null    float64
 30  comp4_inv                    924 non-null    float64
 31  comp4_rate_percent_diff      319 non-null    float64
 32  comp5_rate                   6031 non-null   float64
 33  comp5_inv                    6341 non-null   float64
 34  comp5_rate_percent_diff      2245 non-null   float64
 35  comp6_rate                   711 non-null    float64
 36  comp6_inv                    772 non-null    float64
 37  comp6_rate_percent_diff      291 non-null    float64
 38  comp7_rate                   849 non-null    float64
 39  comp7_inv                    1020 non-null   float64
 40  comp7_rate_percent_diff      396 non-null    float64
 41  comp8_rate                   5014 non-null   float64
 42  comp8_inv                    5174 non-null   float64
 43  comp8_rate_percent_diff      1606 non-null   float64
 44  booking_bool                 12098 non-null  int64
dtypes: float64(29), int64(16)
memory usage: 4.2 MB

## Aggregate competitive info

In [174]:
for i in [1,2,3,4,5,6,7,8]:
    comp_rate = "comp{0}_rate".format(i)
    comp_inv = "comp{0}_inv".format(i)
    comp_perc = "comp{0}_rate_percent_diff".format(i)
    train_subset[comp_inv].replace({0:1, 1:0, -1:np.nan}, inplace=True)
    train_subset["comp{0}".format(i)] = train_subset[comp_rate] * train_subset[comp_inv] * train_subset[comp_perc]
    train_subset.drop(columns=[comp_rate,comp_inv,comp_perc], inplace=True)

In [177]:
train_subset.columns

Index(['srch_id', 'site_id', 'visitor_location_country_id', 'prop_country_id',
       'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_log_historical_price', 'price_usd',
       'promotion_flag', 'srch_destination_id', 'srch_length_of_stay',
       'srch_booking_window', 'srch_adults_count', 'srch_children_count',
       'srch_room_count', 'srch_saturday_night_bool',
       'orig_destination_distance', 'random_bool', 'booking_bool', 'comp1',
       'comp2', 'comp3', 'comp4', 'comp5', 'comp6', 'comp7', 'comp8'],
      dtype='object')

In [63]:
list = np.nan

nan